 .card-square.mdl-card {
    width: 100%;
    height: 180px;
  }
  .card-square > .mdl-card__title {
    color: #fff;
  }
.mdl-layout-title {
    color: #EEE; 
    font-weight: bold
}
.ui-widget.dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content.dialog {
    background: #F9F9F9;
    border: 1px solid #90d93f;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 5px;
    margin: 0;
}

.ui-dialog .ui-widget-header {
    background: #fff;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}